.text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.25rem;
}

.heading {
  font-size: 2.5rem;
  font-weight: 500;
}
